proj.ios/*.xcodeproj/*
!proj.ios/*.xcodeproj/project.pbxproj
!proj.ios/*.xcworkspace/contents.xcworkspacedata
UserInterfaceState.xcuserstate
xcuserdata
project.xcworkspace
.DS_Store
*.swp
_site


.classpath
.project
.cproject

proj.android/lib/
proj.android/bin/
proj.android/assets/
proj.android/obj/
proj.android/gen/
*.so
*.o
*.d
