@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    color: #444;
    background-color: #F5F5F5;
    font-family: Lato, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ","Meiryo", "ＭＳ Ｐゴシック", "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-size: 14px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

header, section, footer {
    display: block;
}

a {
    color: #3894C2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 20px;
    padding: 0;
}

strong {
    color: #D34646;
    font-weight: 500;
}

header {
    background: #CCC;
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #AAA;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 180%;
    line-height: 1.4;
    text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
    border: none;
}

header h1 > a {
    color: #444;
}

header a:hover {
    text-decoration: none;
}

header.without-description h1 {
    margin: 10px 0;
}

header > div {
    width: 900px;
    position: relative;
    margin: 0 auto;
}

header p {
    margin: 0;
    width: 300px;
    font-size: 13px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 1px 0;
    width: auto;
}

header ul li {
    width: 110px;
    float: left;
    height: 100%;
    background: #DDD;
    margin-right: 2px;
    -moz-transition: background-color 0.2s linear 0;
    -webkit-transition: background-color 0.2s linear 0;
    -o-transition: background-color 0.2s linear 0;
    -ms-transition: background-color 0.2s linear 0:
    transition: background-color 0.2s linear 0;
}

header ul li:hover {
    background-color: #AAA;
}

header ul a {
    line-height: 1;
    font-size: 12px;
    color: #666;
    display: block;
    text-align: center;
    font-weight: 400;
    padding-top: 6px;
    height: 100%;
}

header ul a strong {
    font-size: 18px;
    font-weight: bold;
    text-shadow: rgba(200, 200, 200, 0.5) 0 1px 0;
    display: block;
    color: #555;
    padding-top: 6px;
    -webkit-font-smoothing: antialiased;
}

section {
    padding: 15px 0;
    position: relative;
}

section > p {
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    font-weight: 500;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

pre {
    margin: 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 170%;
    font-weight: bold;
    padding: 6px 0;
    border-bottom: 1px solid #AAA;
}

h2 {
    color: #393939;
    font-size: 160%;
    padding: 6px 0;
    border-bottom: 1px dotted #AAA;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 120%;
}

h3, h4, h5, h6 {
    color: #494949;
}

blockquote {
    margin: 0 -20px 20px;
    padding: 15px 20px 1px 40px;
    font-style: italic;
    background: #ccc;
    background: rgba(0, 0, 0, 0.06);
    color: #222;
}

img {
    max-width: 100%;
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size: 13px;
    overflow-x: auto;
    letter-spacing: 0;
}

pre {
    border: 1px solid #AAA;
    color: #f8f8f2;
    margin-bottom: 20px;
}

pre code {
    color: #f8f8f2;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
}

dt {
    color: #222;
    font-weight: 700;
}

th {
    color: #222;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #aaa;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    width: 100%;
    padding: 20px 0 0;
    height: 100px;
    overflow: hidden;
    border-top: 1px solid #AAA;
}

footer > div {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

@media print, screen and (max-width: 740px) {
    body {
        padding: 0;
    }

    .wrapper {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }

    footer {
        padding: 20px;
        width: auto;
    }

    footer p {
        float: none;
        margin: 0;
    }

    footer p + p {
        float: none;
    }
}

@media print, screen and (max-width:580px) {
    header ul {
        display: none;
    }

    header p {
        width: 100%;
    }
}
@media print {
    header p.view a small:before {
        content: 'at http://github.com/';
    }
}
